@font-face {
    font-family: 'PoetsenOne';
    src: url('../fonts/PoetsenOne-Regular.woff2') format('woff2'),
        url('../fonts/PoetsenOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat-Regular.woff2') format('woff2'),
        url('../fonts/Caveat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
   --black-color: #000000;
   --yellow-color: #ffb92a;
   --font-poet: 'PoetsenOne';
   --font-cavet: 'Caveat';
   --bg-color: #201f28;
}
body{
    height: 100vh;
    background: linear-gradient(var(--yellow-color) 50%, var(--black-color) 50%)
    
}
.warning{
    background-color: var(--yellow-color);
}
.text-yellow{
    color: var(--yellow-color);
}
.inner-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: var(--bg-color);
   
}
.header-text{
    font-family: var(--font-poet);
    word-spacing: .3125rem;
}
.para-text{
    font-family: var(--font-cavet);
    font-size: 1.25rem;
}
.quote , .writer{
    font-family: var(--font-cavet);
    font-size: 1.375rem;
}
.btn-outline-warning {
    --bs-btn-color: var(--yellow-color);
    --bs-btn-border-color: var(--yellow-color);
    --bs-btn-hover-bg: var(--yellow-color);
    --bs-btn-hover-border-color: var(--yellow-color);
    --bs-btn-active-bg: var(--yellow-color);
    --bs-btn-active-border-color: var(--yellow-color);
    --bs-btn-disabled-color: var(--yellow-color);
    --bs-btn-disabled-border-color: var(--yellow-color);
}
